---
---

@use "minima" as *; // Load Minima styles

// Custom Theme Variables
$primary-color: #ff9800; 
$background-color: #121212;
$text-color: #e0e0e0;
$link-color: #ff9800;

// Apply Custom Styles
body {
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $link-color;
}

.site-title, .site-nav {
  color: $primary-color;
}

